{% extends 'base.html' %}

{% block style %}<link rel="stylesheet" href="{{url_for('static',filename='css/guardar.css')}}">{% endblock %}

<!-- que tendra dentro el bloque con el mismo nombre-->
{% block title %}Notificar{% endblock %}

{% block content %}
    <section>
        <h3>Notificar</h3>
        <form action="" method="post">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" required value="{{todo.title}}" readonly>
            <label for="desc">Descripcion</label>
            <textarea name="desc" id="desc" rows="3" value="{{todo.desc}}" readonly></textarea>
            <label for="correo">Correo:</label>
            <input type="email" name="correo" id="correo">
            <label for="notificacion">Fecha de notificacion:</label>
            <input type="datetime-local" name="notificacion" id="notificacion">
            <br><br><br>
            <input type="submit" value="Guardar" class="guardar">
            <!-- redirecciona a una pagina con bp-->
            <a href="{{url_for('todo.index')}}">Cancelar</a>
        </form>
    </section>
{% endblock %}