body{
    padding: 0;
    margin: 0;
}

.nav{
    position: relative;
    background-color: #009dff;
    padding: 10px 0;
}

.nav__opciones{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

li::marker{
    content: none;
}

.nav__opciones--link{
    color: white;
    font-size: max(25px,2.3vw);
    text-decoration: none;
    transition: color .5s;
}

.nav__opciones--link:hover{
    color: #b0daf4;
    border-bottom: 1px solid #b0daf4;
}

form{
    padding: 50px 0 0 10px;
}

label{
    color: #0e3c5dff;
    display: block;
    font-size: 20px;
}

input{
    display: block;
    height: 20px;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #009dff;
}

input:focus{
    outline: none;
    background: linear-gradient( to top, #a7d7f5, white);
}

.enviar{
    background-color: white;
    border: 1px solid #009dff;
    padding: 5px;

}

.enviar:hover{
    color: white;
    background-color: #009dff;
}

.error{
    display: block;
    width: 100%;
    background-color: red;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
}

.error::marker{
    content: '';
}

section{
    padding: 20px;
}
p{
    text-align: center;
}