body{
    margin: 0;
    padding: 0;
}
.nav__PC{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #009dff;
    justify-content: space-evenly;
    align-items: center;
}

.menu{
    height: 10vh;
    width: 100%;
    background-color: #009dff;
    display: none;
}

.nav__movil{
    background-color: #009dff;
    height: 40vh;
    border: 1px solid #0e3c5dff;
    display: none;
}

.nav__movil > ul{
    padding: 0;
}

.nav__PC > ul{
    padding: 0;
}

.nav__PC > p{
    font-size: max(25px,2.3vw);
    color: white;
}

.nav__opciones{
    color: white;
    font-size: max(20px,2vw);
    display: inline;
    padding: 0 10px;
}

.movil__opciones{
    color: white;
    font-size: max(20px,2vw);
    padding: 10px 0;
}

.movil__opciones::marker{
    content: '';
}

.nav__opciones::marker{
    content: '';
}

.nav__opciones--link{
    text-decoration: none;
    color: white;
    transition: color .5s;
}

.nav__opciones--link:hover{
    color: #b0daf4;
    border-bottom: 1px solid #b0daf4;
}
.movil__opciones--link{
    text-decoration: none;
    color: white;
    transition: color .5s;
}

.movil__opciones--link:hover{
    color: #b0daf4;
    border-bottom: 1px solid #b0daf4;
    padding: 2px;
}

h1{
    color: #0e3c5dff;
    margin: 10px;
    font-size: 40px;
}

.presentacion{
    padding: 10px;
    color: #0e3c5dff;
    font-size: 20px;
}

.pregunta{
    color: black;
    font-style: italic;
    font-size: 25px;
}
.registrar{
    text-align: center;
    font-size: 30px;
}

.version{
    font-size: 20px;
    padding: 10px;
}

@media screen and (max-width:500px) {
    .nav__PC > ul{
        display : none;
    }
    .nav__PC > p{
        display : none;
    }
    .menu{
        display: flex;
        position: fixed;
        justify-content: center;
        align-content: center;
        width: 100dvw;
        height: 10dvh;
    }
    .barras{
        color: #009dff;
    }
    .nav__movil{
        transform: translateY(10dvh);
        height: 90dvh;
        display: flex;
        position: fixed;
        width: 100dvw;
        flex-direction: column;
        align-items: center;
    }
}