body{
    margin: 0;
    padding: 0;
}
.nav{
    position:relative;
    background-color: #009dff;
    padding: 10px 0;
}

.nav_opciones{
    padding: 10px 0;
    display: inline;
}

.nav_opciones-li{
    display: inline;
    font-size: 30px;
    padding: 0 10px;
    position: relative;
}

.nav_a-opciones{
    text-decoration: none;
    color: #edfcff;
}

.nav_a-opciones:active{
    color: #edfcff;
}

.nav_a-opciones:hover{
    color: #85f4ff;
}

.nav_usuario{
    padding: 10px 0;
    display: inline;
    float: right;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
}

.nav_usuario-li{
    display: inline;
    font-size: 30px;
    padding: 0 10px;
    position: relative;
}

.nav_a-usuario{
    text-decoration: none;
    color: #edfcff;
}

.nav_a-usuario:active{
    color: #edfcff;
}

.nav_a-usuario:hover{
    color: #85f4ff;
}

.titulo{
    display: inline;
    color: #edfcff;
    font-size: 35px;
    margin: 19%;
}

.principal{
    color: #0e3c5dff;
    margin: 10px;
    font-size: 40px;
}

.presentacion{
    padding: 10px;
    color: #0e3c5dff;
    font-size: 20px;
}

.pregunta{
    color: black;
    font-style: italic;
    font-size: 25px;
}
.registrar{
    text-align: center;
    font-size: 30px;
}

.version{
    font-size: 20px;
    padding: 10px;
}