<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{{url_for('static',filename='icono.png')}}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- crea un bloque para heredar en esa posicion -->
    {% block style %}{% endblock %}
    <!-- crea un bloque para heredar e esa posicion -->
    <title>TodoList - {% block title %}{% endblock %}</title>
</head>
<body>
    <!-- crea u bloque para heredar en esa posicion-->
    {% block content %}
    {% endblock %}
</body>
</html>