<!-- hereda de otro archivo html-->
{% extends 'base.html' %}

<!-- indica que ira dentro del bloque con el mismo nombre en la base, el url_for eindica la carpeta donde debe buscar y que debe buscar -->
{% block style %}<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">{% endblock %}

{%block title %}Inicio{% endblock %}

{% block content %}
    <nav class="nav">
        <ul class="nav_opciones">
            <li class="nav_opciones-li"><a class="nav_a-opciones" href="">Inicio</a></li>
            <li class="nav_opciones-li"><a class="nav_a-opciones" href="{{url_for('auth.presentacion')}}">Quien soy</a></li>
        </ul>
        <p class="titulo">TodoList</p>
        <ul class="nav_usuario">
            <!-- el url_for redirecciona a otra pagina con bp con el nombre del bp mas el de la pagina-->
            <li class="nav_usuario-li"><a href="{{url_for('auth.login')}}" class="nav_a-usuario">Iniciar Sesion</a></li>
            <li class="nav_usuario-li"><a href="{{url_for('auth.register')}}" class="nav_a-usuario">Registrase</a></li>
        </ul>
    </nav>

    <main>
        <h1 class="principal">Una pagina para administrar tus tareas!!!</h1>
    </main>
    <section class="presentacion">
        <p>En <span class="pregunta">TodoList</span> podras administrar tus tareas de la mejor forma, podras quedarte relajado porque te noficaremos cada que quieras</p>
        <p><span class="pregunta">Necesitas una alarma cada 5hrs?</span> No te preocupes por tener que poner cientos de alarmas, aqui podras establcer rutinas, modificarlas y eliminarlas cuando quieras</p>
        <p><span class="pregunta">Necesitas un recordatorio?</span> No te preocupes que aqui te lo daremos en la hora y dia que nos digas</p>
        <p><span class="pregunta">Necesitas hacer tareas y quieres que no se te olviden?</span> No te preocupes aqui podras anotar tus tareas para pooder administrarte</p>
        <p>Confia en nosotros, todos tus tareas seran protegidas, inici sesion ya para poder disfrutar completamente GRATIS este maravilloso servicio</p>
        <p class="registrar">Registrate y organiza tus tareas ahora</p>
    </section>
    <section class="version"><p>V:1.1.0</p></section>
{% endblock %}