<!-- hereda de otro archivo html-->
{% extends 'base.html' %}

<!-- indica que ira dentro del bloque con el mismo nombre en la base, el url_for eindica la carpeta donde debe buscar y que debe buscar -->
{% block style %}<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">{% endblock %}

{%block title %}Inicio{% endblock %}

{% block content %}
    <nav class="nav__PC">
        <ul>
            <li class="nav__opciones"><a class="nav__opciones--link" href="">Inicio</a></li>
            <li class="nav__opciones"><a class="nav__opciones--link" href="{{url_for('auth.presentacion')}}">Quien soy</a></li>
            
        </ul>
        <p class="titulo">TodoList</p>
        <ul>
            <li class="nav__opciones"><a class="nav__opciones--link" href="{{url_for('auth.login')}}">Iniciar Sesion</a></li>
            <li class="nav__opciones"><a class="nav__opciones--link" href="{{url_for('auth.register')}}">Registrase</a></li>
        </ul>
    </nav>

    <div class="menu">
        <script src="https://kit.fontawesome.com/b51cc67ab1.js" crossorigin="anonymous"></script>
        <i class="fa-solid fa-bars barras"></i>
    </div>
    <nav class="nav__movil">
        <ul>
            <li class="movil__opciones"><a class="movil__opciones--link" href="">Inicio</a></li>
            <li class="movil__opciones"><a class="movil__opciones--link" href="{{url_for('auth.presentacion')}}">Quien soy</a></li>
            <li class="movil__opciones"><a class="movil__opciones--link" href="{{url_for('auth.login')}}">Iniciar Sesion</a></li>
            <li class="movil__opciones"><a class="movil__opciones--link" href="{{url_for('auth.register')}}">Registrase</a></li>
        </ul>
    </nav>

    <main>
        <h1 class="principal">Una pagina para administrar tus tareas!!!</h1>
    </main>
    <section class="presentacion">
        <p>En <span class="pregunta">TodoList</span> podras administrar tus tareas de la mejor forma, podras quedarte relajado porque te noficaremos cada que quieras</p>
        <p><span class="pregunta">Necesitas una alarma cada 5hrs?</span> No te preocupes por tener que poner cientos de alarmas, aqui podras establcer rutinas, modificarlas y eliminarlas cuando quieras</p>
        <p><span class="pregunta">Necesitas un recordatorio?</span> No te preocupes que aqui te lo daremos en la hora y dia que nos digas</p>
        <p><span class="pregunta">Necesitas hacer tareas y quieres que no se te olviden?</span> No te preocupes aqui podras anotar tus tareas para pooder administrarte</p>
        <p>Confia en nosotros, todos tus tareas seran protegidas, inici sesion ya para poder disfrutar completamente GRATIS este maravilloso servicio</p>
        <p class="registrar">Registrate y organiza tus tareas ahora</p>
    </section>
    <section class="version"><p>V:1.2.0</p></section>
{% endblock %}